<mat-card>

  <div class="step1" *ngIf="selectedStep == '1'">
    <div class="row">
      <div class="colomns small-12 content-center">
        <h5>STEP 1</h5>
      </div>
      <div class="colomns small-12 content-center">
        <img class="step1img" src="../../../assets/images/step1.png" alt="">
      </div>
      <div class="colomns small-6 small-centered content-center">
        <p class="text-center step-desc">Let's start with choosing one of these six beautiful backing tracks for your recording.</p>
      </div>
      <div class="colomns small-12">
        <div class="row align-center">
          <div class="colomns small-2 content-center">
            <a class="selectMinutes" [ngClass]="{'selectedMin': selectedTiming  == '30'}" (click)='selectTracks("30")'>30 MINUTES</a>
          </div>
          <div class="colomns small-2 content-center">
            <a class="selectMinutes" [ngClass]="{'selectedMin': selectedTiming == '60'}" (click)='selectTracks("60")'>60 MINUTES</a>
          </div>
        </div>
      </div>
      <div class="colomns small-12 content-center">
        <div class="songs-container">
          <div class="song-inner-constainer text-center" (click)="selectTrack(song)" [ngClass]="{'selectedTrack': song.src === selectedTrack}"
            *ngFor="let song of songs; let i = index" (click)="playTrack(i);">
            <div *ngIf="song.howl" class="progress" [style.width.%]="progress"></div>
            <div class="song">
              <div class="play-pause-div">
                <mat-icon *ngIf='currentlyPlaying != i' (click)="playTrack(i);">play_arrow</mat-icon>
                <mat-icon *ngIf='currentlyPlaying == i'>pause</mat-icon>
              </div>
              <span>Backing Track Name #{{i}}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedTrack" class="colomns small-12 content-center margin-top-2">
        <a class="nextBtn" (click)='selectStep("2")'>NEXT STEP</a>
      </div>
      <div class="colomns small-12 content-center margin-top-2">
        <a class="backBtn" (click)="location.back();">
          <mat-icon>arrow_back</mat-icon> Back</a>
      </div>
    </div>
  </div>


  <div class="step2" *ngIf="selectedStep == '2'">
    <div class="row">
      <div class="colomns small-12 content-center">
        <h5>STEP 2</h5>
      </div>
      <div class="colomns small-12 content-center">
        <img class="step2img" src="../../../assets/images/step2.png" alt="">
      </div>
      <div class="colomns small-6 small-centered content-center">
        <p class="text-center step-desc">Let's choose an input source for your voice recording. We've found the following you can use:</p>
      </div>
      <div class="colomns small-12 margin-top-2 margin-bottom-1">
        <div class="row align-center">
          <div class="colomns small-4 content-center">
            <img class="speaking-img" src="../../../assets/images/bulid-in-rec.png" alt="">
          </div>
          <div *ngIf="availableRecordingDevices.length > 1" class="colomns small-4 content-center">
            <img class="speaking-img" src="../../../assets/images/headphone-rec.png" alt="">
          </div>
        </div>
      </div>
      <div class="colomns small-12 margin-bottom-4">
        <div class="row align-center">
          <div class="colomns small-4 content-center">
            <a class="selectMinutes" [ngClass]="{'selectedMin': selectedMicType  == 'build-in'}" (click)='selectMicrophoneType("build-in")'>BUILD-IN MICROPHONE</a>
          </div>
          <div *ngIf="availableRecordingDevices.length > 1" class="colomns small-4 content-center">
            <a class="selectMinutes" [ngClass]="{'selectedMin': selectedMicType == 'headset'}" (click)='selectMicrophoneType("headset")'>HEADSET MICROPHONE</a>
          </div>
        </div>
      </div>

      <div class="colomns small-12 content-center margin-top-2">
        <a class="nextBtn" (click)='selectStep("3")'>
          <mat-icon>mic_none</mat-icon> SET UP MICROPHONE</a>
      </div>
      <div class="colomns small-12 content-center margin-top-2">
        <a class="backBtn" (click)='selectStep("1")'>
          <mat-icon>arrow_back</mat-icon> Back To Previous Step</a>
      </div>
    </div>
  </div>


  <div class="step3" *ngIf="selectedStep == '3'">
    <div class="row">
      <div class="colomns small-12 content-center">
        <h5>STEP 3</h5>
      </div>
      <div class="colomns small-12 content-center">
        <img class="step3img" src="../../../assets/images/step3.png" alt="">
      </div>

      <div class="colomns small-6 small-centered content-center">
        <p class="text-center step-desc">Start speaking in your regular voice into the microphone, and adjust the distance so that the sound volume is in
          the green area. We advice being in a quiet environment for this and situate yourself around 20cm away from the
          mic to improve sound quality.</p>
      </div>
      <div class="colomns small-12 content-center margin-top-1 margin-bottom-1">
        <img class="speaking-img" src="../../../assets/images/speaking.png" alt="">
      </div>

      <div class="colomns small-12 content-center margin-top-2 margin-bottom-1 text-center">
        <h3>
          <strong>Start Speaking</strong>
          <audio autoplay></audio>
        </h3>
      </div>

      <div class="colomns small-4 small-centered content-center margin-top-1 margin-bottom-2 text-center">
        <!-- <meter class="meter" high="0.25" max="1" value="{{instant}}"></meter> -->
        <div class="sound-meter" *ngFor="let data of [0.1, 0.13, 0.18,0.2,0.25,0.3,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1] let i = index">
          <span *ngIf="instant > data" [style.backgroundColor]="getSoundMeterColor(instant)" class="meter-point">.</span>
          <span *ngIf="!(instant > data)" class="meter-point">.</span>
        </div>
      </div>

      <div class="colomns small-12 content-center margin-top-2">
        <a class="nextBtn" (click)='selectStep("3")'>
          <mat-icon>arrow_forward</mat-icon>| SKIP SETUP</a>
      </div>
      <div class="colomns small-12 content-center margin-top-2">
        <a class="backBtn" (click)='selectStep("2")'>
          <mat-icon>arrow_back</mat-icon> Back To Previous Step</a>
      </div>
    </div>
  </div>

</mat-card>
