.step1img,
.step2img,
.step3img {
  max-width: 40rem;
}

.speaking-img {
  max-width: 15rem;
}

.step-desc {
  font-size: .9em;
}

mat-card {
  min-height: 100vh;
}

.selectMinutes {
  border: 1px solid #0359ed;
  font-weight: bold;
  color: #0359ed;
  border-radius: 10rem;
  padding: 1.2rem 2rem;
}

.selectedMin {
  background-color: #0359ed;
  color: #fff;
}

.selectedTrack {
  border: 1px solid #4987fe !important;
}

.play-pause-div {
  position: absolute;
  top: .4rem;
  z-index: 2;
}

.songs-container {
  padding: 1rem;
  width: 35rem;
  .song-inner-constainer {
    border: 1px solid #d3d3d6;
    border-radius: 30rem;
    margin: 0.6rem 0rem;
    position: relative;
    overflow: hidden;
    .progress {
      position: absolute; // background-color: #5493fe; 
      background-color: #ddeaff;
      width: 0%;
      height: 100%;
    }
  }
  .song {
    border-radius: 30rem;
    padding: .4rem 0.5rem;
    color: #222;
    mix-blend-mode: multiply;
    mat-icon {
      float: left;
      color: #5493fe;
      cursor: pointer;
    }
  }
}

.nextBtn {
  border: 1px solid #0359ed;
  font-weight: bold;
  background-color: #0359ed;
  color: #fff;
  border-radius: 10rem;
  padding: 1rem 6rem;
  mat-icon {
    vertical-align: middle;
  }
}

.backBtn {
  font-size: .8em;
  font-weight: bold;
  mat-icon {
    vertical-align: middle;
    font-size: 1.8em;
  }
}

meter.meter {
  width: 100%;
}

span.meter-point {
  background-color: #ececec;
  color: transparent;
  padding: 0.4rem;
  border-radius: 20px;
}
