section {
  .form {
    background: #fff;
    max-width: 380px;
    width: 380px;
    .fields {
      padding: 0px 10px 0px 10px;
      display: flex;
      flex-direction: column;
      .a-label {
        font-weight: bold;
        color: #949494;
        .terms-condition {
          color: #4343a1;
        }
      }
      span {
        font-weight: bold;
        color: #949494;
      }
      .a-login {
        color: #4343a1;
        font-weight: bold;
      }
    }
    .header {
      background-color: #4343a1;
      padding: 24px;
      img {
        max-height: 100%;
        max-width: 100%;
        height: 50px;
        width: auto;
      }
    }
  }
}
